body{
    background-color: grey;
    
    
    
}

.formbody {
    display: grid;
    place-items: center;
    min-height: 100vh;
    

}

form{
    width: 45%;
}

#lastName{
    margin-left: 80px;
}

#mothersName{
    margin-left: 80px;
}

